<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <div>
        <ul style="display: flex; ">
            <li style="margin: 10px;padding: 10px;"><a href="/">home</a></li>
            <li style="margin: 10px;padding: 10px;"><a href="/about/">about</a></li>
            <li style="margin: 10px;padding: 10px;"><a href="/contact/">contact</a></li>
        </ul>
    </div>
</body>
</html>